/*tablas*/
body{

    text-align: center;
}

table{
    margin: 0 auto;
    border: 1px solid;
    width: 70%;
    height: 150px;
}

th{
    border: 1px solid;
}
table tbody tr:nth-of-type(odd){
    background-color: rgb(107, 169, 219);
}
table tbody tr:hover{
    background-color: rgb(194, 204, 204);
    color: rgb(19, 62, 100);
    cursor: pointer;
}
table thead{
    background-color: rgb(42, 72, 136);
    color:beige ;
}






nav{
    width: 100%;
}
nav ul{
    display: flex;
    width: 250px;
}

nav ul li{
    width: 150px;
    padding: 0px 10px;

}